@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  50% {
    transform: translate(-50%, -130px);
  }

  70% {
    transform: translate(-50%, -295px);
  }
  to {
    transform: translate(-50%, -215px);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  50% {
    transform: translate(-50%, -130px);
  }

  70% {
    transform: translate(-50%, -295px);
  }
  to {
    transform: translate(-50%, -215px);
  }
}

@-webkit-keyframes shake {
  0%,
  to {
    transform: translate(-310px, -50%);
  }

  10%,
  50%,
  90% {
    transform: translate(-320px, -50%);
  }

  20%,
  60% {
    transform: translate(-300px, -50%);
  }
}

@keyframes shake {
  0%,
  to {
    transform: translate(-310px, -50%);
  }

  10%,
  50%,
  90% {
    transform: translate(-320px, -50%);
  }

  20%,
  60% {
    transform: translate(-300px, -50%);
  }
}

/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
/*Variables*/

:root {
  /*Texts*/
  --amaranth: #ee3643;
  --dark-grey: #a9a9a9;
  --china-blue: #32425c;
  --white: #ffffff;
  --white-03: rgba(255, 255, 255, 0.3);
  --white-05: rgba(255, 255, 255, 0.5);
  --black: #000000;
  --salomie: #ffd180;
  --alice-blue: #f3f7f9;
  --silver: #c5c5c5;
  /*Backgrounds*/
  --gulf-blue: #32425c;
  --bunting: #293449;
  --grey: #888888;
  --linen: #f9f5f0;
  --summer-sky: #3bbce3;
  --de-york: #8ed78f;
  --golden-tainoi-1: #ffbf47;
  --golden-tainoi: #ffc047;
  --plum: #dc91d8;
  --white-smoke: #f4f4f4;
  --mahogany: #ca2c37;
  --cardinal: #ba2732;
  --apple: #63a63e;
  --kelly-green: #5fbb2d;
  --la-palma: #518534;
  --link-water: #c1c6ce;
  --midnight-express: #1d2739;
  --black-russian: #161d29;
  --radical-red: #ff5357;
  --old-lace: #f7f3ec;
  --chambray: #3d546f;
  --squirrel: #927f6e;
  --grayish-red: #684b3e;
  --silver-03: rgba(197, 197, 197, 0.3);
  --dark-grey-03: rgba(169, 169, 169, 0.3);
  --white-025: rgba(0, 0, 0, 0.25);
  --white-024: rgba(0, 0, 0, 0.24);
  /*Shadows*/
  --bilbao: #367315;
  --faux-police: #405069;
  --black-015: rgba(0, 0, 0, 0.15);
  --black-025: rgba(0, 0, 0, 0.25);
  --dark-grey-03: rgba(171, 171, 71, 0.3);
  /*Borders*/
  --strong-red: #ba2732;
  --whisper: #e5e5e5;
  --pattens-blue: #d7dcde;
  --jade: #00ca74;
}

/*Global*/

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-button {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--amaranth);
}

.main-button:hover,
.main-button:focus-within {
  background-color: var(--mahogany);
}

.main-button:active {
  background-color: var(--cardinal);
}

.active,
.service-btn-delivery:active,
.service-btn-guarantee:active,
.service-btn-credit:active,
.button-goods-buy:active,
.close-btn:active {
  outline: none;
  border: none;
}

.slider-circle-1:focus-within,
.slider-circle-2:focus-within,
.slider-circle-1:active,
.slider-circle-2:active {
  outline: none;
}

.upper-bar-wrapper {
  width: 100%;
  background-color: var(--bunting);
  position: relative;
}

.upper-bar {
  width: 940px;
  margin: 0 auto;
}

.logo {
  color: var(--white);
  background-color: var(--amaranth);
  width: 220px;
  height: 43px;
  margin: 0;
  padding-right: 56px;
  position: relative;
  box-sizing: border-box;
  float: left;
}

.logo::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 18px;
  background-image: url(../img/logo-technomart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 12px;
  left: 56px;
}

.logo::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 5px;
  background-color: var(--strong-red);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 43px;
  left: 0;
}

.logo:active,
.footer-logo:active {
  background-color: var(--cardinal);
}

.footer-logo {
  color: var(--white);
  background-color: var(--amaranth);
  width: 220px;
  height: 43px;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 20px 41px 25px 41px;
  position: relative;
  box-sizing: border-box;
  height: 68px;
}

.footer-logo::before {
  position: absolute;
  width: 138px;
  height: 23px;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/logo-footer.svg);
  top: 20px;
  left: 41px;
  padding-bottom: 25px;
}

.footer-logo::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 5px;
  background-color: var(--strong-red);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 63px;
  left: 0;
}

.upper-bar-options {
  display: flex;
  justify-content: space-between;
}

.search-window {
  border: 0;
  outline: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--bunting);
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 42px;
  width: 271px;
  outline: 2px solid green;
}

.search-window:focus-within {
  color: var(--black);
  background-color: var(--white);
  border: none;
}

.search-window::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.search-window::-moz-placeholder {
  color: var(--white);
  opacity: 1;
}

.search-window:focus-within::-webkit-input-placeholder {
  color: transparent;
}

.search-window:focus-within::-moz-placeholder {
  color: transparent;
}

.search-window:focus-within:-ms-input-placeholder {
  color: transparent;
}

.search-field {
  position: absolute;
}

.search-field label {
  position: absolute;
  top: 0;
  left: 0;
}

.search-field svg {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 3;
}

.search-field:hover svg g,
.search-field:focus-within svg g {
  opacity: 1;
}

.search-field:focus {
  color: var(--black);
  background-color: var(--white);
}

.search-field:focus-within svg path {
  fill: var(--amaranth);
}

.header-buttons {
  display: flex; 
  outline: 2px solid red;
}

.header-btn-bookmarks,
.header-btn-cart,
.header-btn-order {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  padding: 8px 16px 7px 19px;
  padding-right: 23px;
}
.header-btn-bookmarks {
  position: relative;
  margin-right: 29px;
  padding-left: 0;
  padding-top: 7px;
  padding-bottom: 8px;
}

.header-btn-bookmarks.catalog {
  margin-right: 17px;
}

.header-btn-bookmarks svg {
  padding-top: 5px;
  padding-right: 9px;
}

.header-btn-bookmarks:hover svg g,
.header-btn-bookmarks:focus-within svg g {
  opacity: 1;
}

.header-btn-bookmarks:hover,
.header-btn-bookmarks:focus-within {
  opacity: 1;
}

.header-btn-cart-full {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--amaranth);
  padding: 9px 21px 9px 35px;
  position: relative;
}

.header-btn-cart-full::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  left: 10px;
  top: 13px;
  opacity: 0.3;
}

.header-btn-cart {
  position: relative;
  padding: 10px 28px 5px 21px;
}

.header-btn-cart::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  left: -1px;
  top: 13px;
  opacity: 0.3;
}

.header-btn-cart:hover::before,
.header-btn-cart:focus-within::before,
.header-btn-cart-full:hover::before,
.header-btn-cart-full:focus-within::before,
.header-btn-bookmarks:hover::before,
.header-btn-bookmarks:focus-within::before {
  opacity: 1;
}

.header-btn-bookmarks:active {
  opacity: 0.5;
  background-color: var(--black-russian);
}

.header-btn-order {
  background-color: var(--apple);
  margin-right: -10px;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-right: 17px;
}

.header-btn-order:hover,
.header-btn-order:focus-within {
  background-color: var(--kelly-green);
}

.header-btn-order:active {
  opacity: 0.5;
  background-color: var(--apple);
}

.header-btn-order:focus {
  background-color: var(--apple);
}

.main-header {
  width: 100%;
}

.main-header-description {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--amaranth);
  width: 197px;
  padding-left: 30px;
  margin-top: 42px;
}

.main-address {
  margin-top: 53px;
  margin-left: 24px;
}

.catalog-address {
  margin-top: 53px;
  margin-left: 39px;
}

.main-address p,
.catalog-address p {
  margin-top: 11px;
  padding-left: 11px;
}

.mid-header {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.mid-header-wrapper {
  width: 100%;
  background-color: var(--alice-blue);
}

.main-bar address {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--china-blue);
}

.phone {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--amaranth);
  border: 3px solid var(--white);
  padding: 7px 42px 8px 72px;
  position: relative;
}

.phone::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 10px;
  left: 37px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--alice-blue);
  padding-top: 41px;
}

.user-block-options-container {
  background-color: var(--alice-blue);
  position: relative;
  padding-top: 57px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  white-space: nowrap;
  margin-top: 20px;
  margin-left: 45px;
}

.personal-info:first-child {
  position: relative;
  padding-right: 31px;
}

.personal-info:first-child::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 13px;
  width: 4px;
  height: 4px;
  background-color: var(--china-blue);
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 2;
}

.user-block-main {
  margin-top: 53px;
}

.login-btn,
.sign-in-btn {
  color: var(--black);
  background-color: var(--white);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.login-btn:hover,
.login-btn:focus-within,
.sign-in-btn:hover,
.sign-in-btn:focus-within {
  color: var(--amaranth);
}

.login-btn:active,
.sign-in-btn:active {
  color: var(--silver);
}

.login-btn {
  padding-left: 20px;
  padding-right: 27px;
  position: relative;
  width: 121px;
  margin-right: 7px;
}

.login-btn svg {
  margin-top: 5px;
  margin-right: 6px;
}

.login-btn:hover svg path,
.login-btn:focus-within svg path {
  fill: var(--chambray);
}

.sign-in-btn {
  padding-left: 24px;
  padding-right: 24px;
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
  background-color: var(--gulf-blue);
}

.site-nav {
  width: 940px;
  margin: 0 auto;
  list-style: none;
  background-color: var(--gulf-blue);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.site-nav-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  display: block;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 20px;
  margin: 0;
}

.site-nav-item:first-child a {
  padding-left: 52px;
  padding-right: 31px;
}

.site-nav-item:nth-child(2) a {
  padding-left: 27px;
  padding-right: 24px;
}

.site-nav-item:nth-child(3) a {
  padding-left: 32px;
  padding-right: 29px;
}

.site-nav-item:nth-child(4) a {
  padding-left: 27px;
  padding-right: 28px;
}

.site-nav-item:nth-child(5) a {
  padding-left: 29px;
  padding-right: 28px;
}

.site-nav-item:nth-child(6) a {
  padding-left: 27px;
  padding-right: 29px;
}

.site-nav-item:last-child a {
  padding-left: 29px;
  padding-right: 47px;
}

.site-nav-item a:hover,
.site-nav-item a:focus-within {
  background-color: var(--bunting);
}

.site-nav-item a:active {
  color: var(--white);
  opacity: 0.5;
  background-color: var(--midnight-express);
}

.container {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-bar {
  width: 100%;
  margin: 0 auto;
  background-color: var(--alice-blue);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  margin-top: 59px;
  padding: 0;
  list-style: none;
  width: 940px;
}

.feature-item {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  width: 300px;
  position: relative;
}

.feature-item:first-child {
  background-color: var(--golden-tainoi-1);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;
}

.feature-item:first-child::after {
  position: absolute;
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-paint.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  top: 0;
  right: 20px;
  z-index: 2;
}

.feature-item:nth-child(2) {
  background-color: var(--summer-sky);
  grid-column: 2 / 3;
  grid-row: 1 /2;
}

.feature-item:nth-child(3) {
  background-color: var(--plum);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.feature-item:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.feature-item:nth-child(5) {
  background-color: var(--de-york);
  margin-right: 0;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.feature-item:last-child {
  background-color: var(--golden-tainoi);
  grid-column: 3 / 4;
  grid-row: -1 / -2;
}

.feature-item h3 {
  display: block;
  position: absolute;
  top: 1px;
  left: 22px;
  padding: 0;
  margin: 0;
  margin-top: 20px;

  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.feature-item svg {
  position: absolute;
  top: 31px;
  right: 43px;
}

.feature-item:nth-child(2) svg {
  position: absolute;
  top: 34px;
  right: 31px;
}

.feature-item:nth-child(3) svg {
  position: absolute;
  top: 31px;
  right: 31px;
}

.feature-item:nth-child(5) svg {
  position: absolute;
  top: 26px;
  right: 45px;
}

.feature-item:last-child svg {
  position: absolute;
  top: 32px;
  right: 31px;
}

.feature-item-btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--white-03);
  width: 135px;
  position: absolute;
  bottom: 21px;
  left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.feature-item-btn:hover,
.feature-item-btn:focus-within {
  background-color: var(--silver-03);
}

.feature-item-btn:active {
  background-color: var(--dark-grey-03);
}

.slider {
  width: 620px;
  height: 266px;
  position: relative;
}

.slider-text-wrapper {
  background-color: var(--white-025);
  padding-left: 24px;
  padding-top: 23px;
  height: 104px;
  box-sizing: border-box;
}
.slider-text-wrapper h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  padding-top: 23px;
  padding-left: 2px;
  margin: 0;
}

.slider-text-wrapper p {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  padding-top: 25px;
}

.slide-1 {
  display: none;
  background-color: var(--squirrel);
  background-image: url(../img/slide1-perforator.jpg);
}

.slide-2 {
  display: none;
  background-color: var(--grayish-red);
  background-image: url(../img/slide2-drill.jpg);
}

.current {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.slider-circle-1,
.slider-circle-2 {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--white);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.current-circle {
  background-color: var(--amaranth);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.open-catalog-btn {
  left: 24px;
  bottom: 27px;
  position: absolute;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  width: 192px;
  box-sizing: border-box;
  z-index: 2;
}

.slider-btn-back {
  position: absolute;
  left: 23px;
  top: 122px;
  border: 0;
  padding: 0;
  outline: 0;
  width: 23px;
  height: 41px;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
}

.slider-btn-back svg {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0;
  padding: 0;
  outline: 0;
  width: 23px;
  height: 41px;
  z-index: 2;
}

.slider-btn-forward {
  position: absolute;
  right: 20px;
  top: 122px;
  border: 0;
  outline: 0;
  padding: 0;
  width: 23px;
  height: 41px;
  cursor: pointer;
}

.slider-btn-forward svg {
  position: absolute;
  top: 0;
  left: 0;

  border: 0;
  outline: 0;
  padding: 0;
  width: 23px;
  height: 41px;
  z-index: 2;
  transform: rotate(-180deg);
}

.all-popular-brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -5px;
}

.all-popular-brands a {
  outline: 1px solid var(--whisper);
  outline-offset: -1px;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.all-popular-brands a:nth-child(2) img {
  position: absolute;
  top: 49px;
  left: 48px;
}

.all-popular-brands a:nth-child(3) img {
  position: absolute;
  top: 47px;
  left: 37px;
}

.all-popular-brands a:nth-child(4) img {
  position: absolute;
  top: 33px;
  left: 9px;
}

.all-popular-brands a:nth-child(5) img {
  position: absolute;
  top: 58px;
  left: 28px;
}

.all-popular-brands a:nth-child(6) img {
  position: absolute;
  top: 33px;
  left: 48px;
}

.all-popular-brands a:nth-child(7) img {
  position: absolute;
  top: 22px;
  left: 35px;
}

.all-popular-brands a:last-child img {
  position: absolute;
  top: 33px;
  left: 8px;
}

.all-popular-brands a:hover,
.all-popular-brands a:focus,
.all-popular-brands a:focus-within {
  box-shadow: 0px 4px 20px var(--black-015);
}

.all-popular-brands a:active {
  opacity: 0.5;
}

.brand-logo {
  display: block;
  margin: auto;
  object-fit: contain;
}

.user-block-name {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 57px 11px 57px;
  position: relative;
}

.user-pic {
  position: absolute;
  top: 13px;
  left: 15px;
}

.user-block-options-container a {
  position: relative;
}

.log-out-icon {
  position: absolute;
  top: 0px;
  left: -37px;
}

.user-pic:hover path,
.user-pic:focus-within path,
.log-out-icon:hover path,
.log-out-icon:focus-within path {
  fill: var(--chambray);
}

.user-pic:active path,
.log-out-icon:active path {
  fill: var(--silver);
}

.popular-goods h2,
.popular-brands h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--china-blue);
}

.popular-wrapper h2 {
  margin-top: 5px;
  padding-left: 28px;
  padding-top: 0;
  width: 692px;
}

.popular-wrapper {
  padding-top: 23px;
  padding-right: 11px;
  padding-bottom: 2px;
  width: 929px;
  margin-top: 60px;
  margin-bottom: 22px;
  background-color: var(--linen);
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.all-popular-goods-btn {
  width: 144px;
  padding: 10px 24px 9px 24px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
}

.popular-brands-wrapper {
  padding-top: 34px;
  padding-right: 11px;
  padding-bottom: 4px;
  width: 929px;
  margin-top: 50px;
  margin-bottom: 26px;
  background-color: var(--linen);
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3px;
}

.popular-brands-wrapper h2 {
  padding-left: 28px;
  padding-top: 0;
  margin-top: -5px;
  width: 692px;
}

.all-brands-btn {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  margin-bottom: 20px;
  width: 115px;
  padding: 11px 38px 9px 39px;
}

.all-product-cards {
  display: flex;
  justify-content: space-between;
}

.product-card img {
  order: -1;
  z-index: -2;
}

.product-card .bfg9000 {
  position: absolute;
  top: 6px;
  left: 18px;
}

.product-card .bfg6000 {
  position: absolute;
  top: 22px;
  left: 33px;
}

.product-card .bfg3000,
.product-card .bfg2000 {
  position: absolute;
  top: 29px;
  left: 40px;
}

.item-new::before {
  position: absolute;
  content: "new";
  transform: rotate(45deg);
  top: 9px;
  right: -25px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  padding-top: 8px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--amaranth);
}

.feature-new::before {
  position: absolute;
  content: "new";
  transform: rotate(45deg);
  top: 7px;
  right: -25px;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  padding-top: 8px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--amaranth);
  z-index: 10;
}

.product-card {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  outline: 1px solid var(--whisper);
  outline-offset: -1px;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.product-card.catalog {
  margin-bottom: 19px;
}

.product-card:hover,
.product-card:focus-within {
  box-shadow: 0px 4px 20px var(--black-015);
}

.product-card:hover img,
.product-card:focus-within img,
.product-card:focus img {
  display: none;
}

.product-card:hover h3,
.product-card:focus-within h3 {
  order: 1;
}

.product-card:hover .old-price,
.product-card:focus-within .old-price {
  order: 2;
}

.product-card:hover .price,
.product-card:focus-within .price {
  order: 3;
}

.product-pop-up {
  display: none;
}

.product-card:hover .product-pop-up,
.product-card:focus-within .product-pop-up {
  position: absolute;
  top: 38px;
  right: 44px;
  display: grid;
  gap: 10px;
  order: 0;
}

.product-card:not(:last-child) {
  margin-right: 20px;
}

.product-card.catalog:nth-of-type(3n) {
  margin-right: 0;
}

.product-card h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  text-align: center;
  margin-top: 180px;
  margin-bottom: 7px;
  margin-left: 31px;
  box-sizing: border-box;
  width: 157px;
  display: block;
}

.product-card-image {
  background-color: var(--white);
  object-fit: contain;
  display: block;
}

.bfg9000 {
  width: 184px;
  height: 164px;
}

.bfg2000,
.bfg3000 {
  width: 127px;
  height: 112px;
}

.catalog .bfg2000 ~ .price-container {
  margin-top: 39px;
}

.bfg6000 {
  width: 144px;
  height: 128px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  position: relative;
  z-index: 2;
  padding: 0;
  padding-top: 9px;
  padding-left: 5px;
  padding-bottom: 10px;
  width: 118px;
  margin: 0;
  margin-top: 0;
  margin-left: 45px;
  margin-bottom: 21px;
  display: block;
  text-align: center;
  background-color: var(--amaranth);
  border-radius: 2px;
}

.price::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 122px;
  top: 0;
  z-index: -1;
  background-color: var(--amaranth);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-grey);
  text-align: center;
  box-sizing: border-box;
  display: block;
  margin-bottom: 15px;
}

.button-goods-buy,
.button-goods-bookmarks {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.button-goods-buy {
  border: none;
  color: var(--white);
  background-color: var(--apple);
  box-shadow: inset 0px -3px 0px var(--bilbao);
  width: 135px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
}

.button-goods-buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/icon-cart.svg);
  top: 10px;
  left: 22px;
  opacity: 0.3;
}

.button-goods-buy:hover,
.button-goods-buy:focus-within {
  background-color: var(--kelly-green);
}

.button-goods-buy:active {
  background-color: var(--la-palma);
}

.button-goods-bookmarks {
  background-color: var(--white);
  outline: 3px solid var(--apple);
  outline-offset: -3px;
  width: 135px;
  height: 38px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.button-goods-bookmarks:hover,
.button-goods-bookmarks:focus-within {
  background-color: var(--white);
  outline: 3px solid var(--gulf-blue);
  outline-offset: -3px;
}

.button-goods-bookmarks:active {
  color: var(--link-water);
  background-color: var(--white);
  outline: 3px solid var(--link-water);
  outline-offset: -3px;
}

.additional-services-wrapper,
.perforators-about-container {
  background-color: var(--alice-blue);
  min-width: 100%;
}

.additional-services-wrapper {
  padding-bottom: 100px;
}

.perforators-about-container {
  margin-bottom: -12px;
}

.additional-services-wrapper button {
  width: 240px;
}

.services-info {
  width: 940px;
  margin: 0 auto;
}

.additional-services h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  padding-top: 64px;
  margin-bottom: 23px;
}

.additional-services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.additional-services-btn-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
}

.additional-services-btn-wrapper::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  background-image: url(../img/sharp-vertical-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: -47px;
  left: 230px;
}

.service-title {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.service-slide .service-titles {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--gulf-blue);
  padding-left: 80px;
  margin-top: 57px;
}

.guarantee .service-titles {
  margin-bottom: 25px;
}

.credit .service-titles {
  margin-top: 59px;
  margin-bottom: 29px;
}

.service-pitch {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-left: 80px;
  display: block;
  width: 320px;
  position: relative;
  z-index: 3;
}
.service-slide {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--china-blue);
  position: relative;
}

.service-btn-delivery,
.service-btn-guarantee,
.service-btn-credit {
  color: var(--white);
  background-color: var(--gulf-blue);
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  padding-left: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  box-shadow: 0px 1px 0px var(--bunting), inset 0px 1px 0px var(--faux-police);
  height: 61px;
  box-sizing: border-box;
}

.service-btn-delivery {
  padding-top: 9px;
}

.service-btn-delivery:hover,
.service-btn-delivery:focus-within,
.service-btn-guarantee:hover,
.service-btn-guarantee:focus-within,
.service-btn-credit:hover,
.service-btn-credit:focus-within {
  color: var(--white);
  background-color: var(--bunting);
}

.active,
.service-btn-delivery:active,
.service-btn-guarantee:active,
.service-btn-credit:active {
  color: var(--gulf-blue);
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
}

.service-btn-credit:checked ~ .additional-services-slider {
  background-image: url(../img/service-credit.png);
}

.service-btn-slider-wrapper {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.service-slide.delivery {
  width: 305px;
}

.service-slide.delivery::after {
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  background-image: url(../img/service-delivery.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 21px;
  left: 231px;
}

.service-slide.guarantee {
  width: 331px;
}

.service-slide.guarantee::after {
  position: absolute;
  content: "";
  width: 389px;
  height: 283px;
  background-image: url(../img/service-guarantee.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 0px;
  left: 320px;
}

.service-slide.credit {
  width: 331px;
}

.service-slide.credit::after {
  position: absolute;
  content: "";
  width: 465px;
  height: 285px;
  background-image: url(../img/service-credit.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 2px;
  left: 245px;
}

.want-credit-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(
    --amaranth
  ); /* в макете в одном месте эта кнопка цвета amaranth, а в другом – radical red*/
  width: 195px;
  height: 38px;
  padding-left: 8px;
  padding-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px var(--black-025);
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 13px;
  margin-left: 80px;
  margin-bottom: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.want-credit-btn:hover,
.want-credit-btn:focus-within {
  background-color: var(--mahogany);
}

.want-credit-btn:active {
  background-color: var(--cardinal);
}

.company-info h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  margin-top: 71px;
  margin-bottom: 10px;
}

.company-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.partners-list,
.footer-nav-list,
.footer-socials-list {
  list-style: none;
}

.partners-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  position: relative;
}

.partners-list {
  margin-top: -10px;
  padding-left: 36px;
}

.partners-item:nth-child(2) {
  margin-top: 12px;
}

.partners-item:last-child {
  margin-top: 12px;
}

.partners-item:first-child a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -36px;
  margin-top: 13px;
}

.partners-item:nth-child(2) a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -36px;
  margin-top: 11px;
}

.partners-item:last-child a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -36px;
  margin-top: 9px;
}

.company-more-about-btn {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  margin-top: 3px;
}

.company-info-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 68px;
}

.company-about {
  margin-right: 179px;
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts p {
  width: 180px;
}

.contacts a {
  margin-top: 20px;
  margin-bottom: 2px;
}

.company-more-about-btn,
.lost-help-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--amaranth);
}

.lost-help-btn {
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}
.company-more-about-btn:hover,
.company-more-about-btn:focus-within,
.lost-help-btn:hover,
.lost-help-btn:focus-within {
  background-color: var(--mahogany);
}
.company-more-about-btn:active,
.lost-help-btn:active {
  background-color: var(--cardinal);
}

.contact-form-item {
  color: var(--dark-grey);
  background-color: var(--white);
}
.contact-form-item label {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.modal {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
}

.modal-map-container {
  display: none;
}

.modal-feedback-container {
  display: none;
}

.modal-added-to-cart-container {
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-feedback {
  position: relative;
  box-sizing: border-box;
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--amaranth);
  box-shadow: 0px 4px 20px var(--black-025);
  padding-top: 11px;
  background-color: var(--white);
}

.modal-contact-form {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.contact-form-container {
  padding: 0;
  margin: 0;
  padding-top: 24px;
  padding-left: 80px;
  display: grid;
  grid-template-columns: 220px 220px;
  column-gap: 20px;
  grid-template-rows: auto auto;
}

.contact-form-item:first-child,
.contact-form-item:nth-child(2) {
  margin-bottom: 0;
}

.contact-form-item input,
.contact-form-item input {
  width: 221px;
  margin-top: 11px;
  margin-bottom: -1px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.contact-form-item input,
.contact-form-item input,
.contact-form-item textarea {
  border: 2px solid var(--silver);
  border-radius: 2px;
}

.contact-form-item textarea {
  width: 443px;
  height: 105px;
  resize: none;
  margin-top: 10px;
  padding-left: 10px;
}

.contact-form-item input::placeholder,
.contact-form-item input::placeholder,
.contact-form-item textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-grey);
}

.contact-form-item input {
  display: block;
}

.send-btn-container {
  background-color: var(--white-smoke);
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 39px;
  padding-bottom: 35px;
  margin-top: 15px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.send-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--amaranth);
  width: 460px;
  border: none;
  padding-top: 11px;
  padding-bottom: 9px;
}

.modal-map {
  width: 943px;
  height: 449px;
  box-sizing: border-box;
  border-top: 7px solid var(--amaranth);
  box-shadow: 0px 4px 20px var(--black-015);
  position: relative;
  padding: 0;
  background-color: var(--white);
}

.modal-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 943px;
  height: 449px;
  border: none;
}

.footer-contacts address {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--alice-blue);
  margin-top: 2px;
  margin-left: 2px;
}

.footer-contacts address a {
  display: block;
  margin-top: 1px;
}

.footer-contacts a {
  color: var(--alice-blue);
}

.footer-nav-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--alice-blue);
}

.footer-nav-item:not(:last-child),
.footer-catalog-item:not(:last-child) {
  margin-right: 58px;
}

.footer-nav-item:first-child {
  margin-left: -2px;
}

.footer-catalog-list {
  list-style: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.footer-catalog-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--salomie);
}

.footer-nav-item a:hover,
.footer-nav-item a:focus-within,
.footer-catalog-item a:hover,
.footer-catalog-item a:focus-within {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-catalog-item a:active {
  opacity: 0.5;
}

.footer-1-wrapper {
  background-color: var(--china-blue);
  margin-top: 0;
  padding-bottom: 53px;
}

.footer-2-wrapper {
  background-color: var(--bunting);
}

.footer-1,
.footer-2 {
  margin: 0 auto;
}

.footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-nav-1,
.footer-nav-2 {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-nav-2 {
  margin-top: 11px;
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
}

.footer-catalog-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer-technomart-copyright,
.footer-feedback,
.footer-copyright {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-technomart-copyright {
  white-space: nowrap;
  padding-left: 1px;
}

.footer-copyright {
  margin-left: 51px;
}

.footer-feedback a,
.footer-copyright a {
  color: var(--salomie);
}

.footer-feedback a:hover,
.footer-feedback a:focus-within,
.footer-copyright a:hover,
.footer-copyright a:focus-within {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
  color: var(--amaranth);
}

.social-btn {
  width: 44px;
  height: 44px;
  margin-right: 1px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-bg:hover,
.social-bg:focus-within,
.social-bg:active {
  fill: var(--amaranth);
}

.footer-socials-list {
  width: 135px;
  margin-top: 14px;
  margin-left: 117px;
  margin-right: 118px;
  display: flex;
  flex-wrap: wrap;
}

.personal-info,
.personal-info:visited {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--gulf-blue);
}

.personal-info:hover,
.personal-info:focus-within {
  color: var(--amaranth);
}
.user-block-name:active,
.personal-info:active {
  color: var(--silver);
}

.category-title {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--gulf-blue);
  background-color: var(--alice-blue);
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin-top: 0;
  margin-bottom: 19px;
}

.filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--old-lace);
  display: table-cell;
  vertical-align: middle;
  width: 220px;
  padding-left: 18px;
  box-sizing: border-box;
}

.filter-title,
.sorting-bar {
  height: 38px;
}

.filter-sort-catalog {
  display: grid;
  grid-template-columns: 220px 700px;
  gap: 20px;
}

.pricing {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--old-lace);
}

.show-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--whisper);
  width: 220px;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: center;
}

.breadcrumbs,
.sort-by,
.paginator {
  list-style: none;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs-item {
  position: relative;
  display: block;
}

.breadcrumbs-item:first-child {
  margin-right: 41px;
}

.breadcrumbs-item:nth-child(2) {
  margin-right: 40px;
}

.breadcrumbs-item:nth-child(3) {
  margin-right: 43px;
}

.breadcrumbs-item:nth-child(2):before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -26px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:nth-child(3):before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -23px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:last-child:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -25px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item a,
.sort-by-option a,
.paginator-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.sorting-bar h2,
.sort-by-option a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.sorting-bar h2 {
  padding-left: 20px;
}

.sort-by {
  display: flex;
  justify-content: space-between;
}

.sort-by-option {
  margin-top: -3px;
}

.sort-by-option:first-child {
  margin-right: 70px;
}

.sort-by-option:nth-child(2) {
  margin-right: 65px;
}

.sort-by-option:nth-child(3) {
  margin-right: 47px;
}

.sort-by-option a {
  color: var(--silver);
  border-bottom: 1px dotted var(--amaranth);
}

.sort-by-option a:hover,
.sort-by-option a:focus-within {
  color: var(--black);
  border-bottom: 1px solid var(--amaranth);
}

.sort-by li:nth-last-child(2) {
  margin-top: -2px;
}

.sort-by li:last-child {
  margin-top: -2px;
}

.up svg {
  margin-right: 21px;
}

.down svg {
  transform: rotate(-180deg);
  margin-right: 15px;
}

.up svg path,
.down svg path {
  fill: var(--silver);
}

.up svg:hover path,
.up svg:focus-within path,
.down svg:hover path,
.down svg:focus-within path {
  fill: var(--black);
}

.up svg:active path,
.down svg:active path {
  fill: var(--amaranth);
}

.sort-by-option a:active {
  color: var(--amaranth);
  border-bottom: none;
}

.sorting-bar {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--old-lace);
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.filter-by-brand {
  display: flex;
  flex-direction: column;
}

.filter-by-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--black);
}

.filter-by-price .filter-by-header {
  margin-top: 13px;
  margin-bottom: 12px;
  margin-left: -2px;
}

.filter-by-brand .filter-by-header {
  margin-top: 14px;
  margin-bottom: 20px;
  margin-left: -2px;
}

.filter-by-brand label,
.filter-by-charging label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-by-brand label,
.filter-by-charging label {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  margin-left: -2px;
  padding-bottom: 20px;
}

.filter-by-brand label:first-of-type {
  padding-bottom: 18px;
}

.filter-by-charging label {
  margin-left: 2px;
  padding-bottom: 21px;
}

.filter-by-charging label:last-child {
  margin-bottom: 18px;
}

.filter-input-checkbox + label,
.filter-input-radio + label {
  padding-left: 35px;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label:first-of-type::after {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 4px solid var(--silver);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 6px;
  width: 9px;
  height: 9px;
  background-color: var(--silver);
  border-radius: 50%;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 4px solid var(--silver);
  border-radius: 50%;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  cursor: default;
  opacity: 0.3;
}

.filter-input-checkbox:disabled:hover + label::before,
.filter-input-checkbox:disabled:focus-within + label::before,
.filter-input-checkbox:disabled:hover + label::after,
.filter-input-checkbox:disabled:focus-within + label::after,
.filter-input-radio:disabled:hover + label::before,
.filter-input-radio:disabled:focus-within + label::before,
.filter-input-radio:disabled:hover + label::after,
.filter-input-radio:disabled:focus-within + label::after {
  opacity: 0.7;
}

.filter-form h2 {
  margin: 0;
}

.filter-by-price {
  padding: 0;
  width: 220px;
  border: 0;
  border-bottom: 1px solid var(--silver);
}

.range-controls {
  position: relative;
  width: 218px;
  height: 80px;
  margin-left: -1px;
  margin-bottom: 9px;
  background-color: var(--old-lace);
  border-radius: 3px;
  padding: 39px 20px;
  box-sizing: border-box;
  display: block;
}

.range-controls .scale {
  height: 2px;
  background: var(--pattens-blue);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--jade);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--white);
  border-radius: 50%;
  background-color: var(--dark-grey);
  box-shadow: 0 2px 1px 0 var(--dark-grey-03);
  cursor: pointer;
}

.range-controls .toggle-max {
  top: -8px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 218px;
  margin-top: 1px;
  margin-bottom: 25px;
  margin-left: -1px;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  width: 90px;
  height: 36px;
  border-radius: 2px;
  border: none;
}

.dash {
  margin-top: 9px;
}

.filter-by-brand {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
}

.filter-by-charging {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 0;
  border-top: 1px solid var(--silver);
  margin-top: 10px;
  margin-left: -2px;
}

.filter-by-charging .filter-by-header {
  margin-left: 2px;
  margin-bottom: 23px;
}

.charging-radio {
  color: var(--silver);
}

.all-product-cards-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.modal-added-to-cart {
  background-color: var(--white);
  width: 620px;
  min-height: 282px;
  border-top: 7px solid var(--amaranth);
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px var(--black-025);
  z-index: 2;
}

.modal-added-to-cart::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-mark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 48px;
  left: 81px;
}

.modal-added-to-cart p {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  position: absolute;
  top: 45px;
  text-align: center;
  margin-left: 176px;
}

.cart-btns-container {
  background-color: var(--white-smoke);
  width: 620px;
  height: 112px;
  box-sizing: border-box;

  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-continue-shopping,
.btn-order {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  width: 192px;
}

.btn-order {
  color: var(--white);
  background-color: var(--amaranth);
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: 37px;
  margin-left: 114px;
}

.btn-order:hover,
.btn-order:focus-within,
.btn-continue-shopping:hover,
.btn-continue-shopping:focus-within {
  color: var(--white);
  background-color: var(--cardinal);
}

.btn-continue-shopping {
  color: var(--black);
  background-color: var(--white);
  width: 192px;
  box-sizing: border-box;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  vertical-align: middle;
  margin-top: 37px;
  margin-left: 6px;
}

.close-btn {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 11px;
  right: 17px;
  border: none;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-top: 35px;
  margin-bottom: 69px;
}

.paginator-link {
  box-sizing: border-box;
  border: 1px solid var(--whisper);
  border-radius: 2px;
  width: 38px;
  height: 38px;
  padding: 10px 15px;
  text-align: center;
  background-color: var(--white);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  margin-right: 9px;
}

.paginator-link:hover,
.paginator-link:focus-within {
  border: 1px solid var(--silver);
}

.paginator-link:active {
  border: 1px solid var(--amaranth);
}

.paginator-link.active {
  background-color: var(--amaranth);
  color: var(--white);
}

.paginator-link.next {
  padding-left: 32px;
  padding-right: 30px;
}

.perforators-about {
  width: 940px;
  margin: 0 auto;
}

.perforators-about-title {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  padding-top: 65px;
  margin-bottom: 25px;
}

.perforators-about-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 68px;
}
