/*Fonts*/

@font-face {
  font-family: "PT Sans";
  src: url("..fonts/ptsans.woff2") format("woff2"),
    url("..fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("..fonts/ptsansbold.woff2") format("woff2"),
    url("..fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("..fonts/cuprum.woff2") format("woff2"),
    url("..fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("..fonts/cuprumbold.woff2") format("woff2"),
    url("..fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("..fonts/cuprumbolditalic.woff2") format("woff2"),
    url("..fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("..fonts/cuprumitalic.woff2") format("woff2"),
    url("..fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
/*Variables*/

:root {
  /*Texts*/
  --amaranth: #ee3643;
  --dark-grey: #a9a9a9;
  --china-blue: #32425c;
  --white: #ffffff;
  --white-03: rgba(255, 255, 255, 0.3);
  --white-05: rgba(255, 255, 255, 0.5);
  --black: #000000;
  --salomie: #ffd180;
  --alice-blue: #f3f7f9;
  --silver: #c5c5c5;
  /*Backgrounds*/
  --gulf-blue: #32425c;
  --bunting: #293449;
  --grey: #888888;
  --linen: #f9f5f0;
  --summer-sky: #3bbce3;
  --de-york: #8ed78f;
  --golden-tainoi-1: #ffbf47;
  --golden-tainoi: #ffc047;
  --plum: #dc91d8;
  --white-smoke: #f4f4f4;
  --mahogany: #ca2c37;
  --cardinal: #ba2732;
  --apple: #63a63e;
  --kelly-green: #5fbb2d;
  --la-palma: #518534;
  --link-water: #c1c6ce;
  --midnight-express: #1d2739;
  --black-russian: #161d29;
  --radical-red: #ff5357;
  --old-lace: #f7f3ec;
  --chambray: #3d546f;
  --silver-03: rgba(197, 197, 197, 0.3);
  --dark-grey-03: rgba(169, 169, 169, 0.3);
  --white-025: rgba(0, 0, 0, 0.25);
  --white-024: rgba(0, 0, 0, 0.24);
  /*Shadows*/
  --bilbao: #367315;
  /*Borders*/
  --whisper: #e5e5e5;
  --pattens-blue: #d7dcde;
}

/*Global*/

.page {
  height: 100%;
}

.page-body {
  /*display: grid;
  grid-template-rows: min-content 1fr min-content;*/
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.upper-bar-wrapper {
  width: 100%;
  background-color: var(--bunting);
}

.upper-bar {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*
  display: grid;
  grid-template-columns: repeat(5, auto);
  */
}

.logo {
  color: var(--white);
  background-color: var(--amaranth);
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0px var(--white-024);
  margin: 0;
  padding-right: 56px;
  position: relative;
  box-sizing: border-box;
}

.logo::before {
  position: absolute;
  content: "";
  width: 108px;
  height: 18px;
  background-image: url(../img/logo-technomart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 12px;
  left: 56px;
}

.logo:active {
  background-color: var(--cardinal);
}

.footer.logo {
  padding: 20px 41px 25px 41px;
  position: relative;
  box-sizing: border-box;
  height: 68px;
}

.footer.logo::before {
  position: absolute;
  width: 138px;
  height: 23px;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../img/logo-footer.svg);
  top: 20px;
  left: 41px;
  padding-bottom: 25px;
}

.logo-search,
.header-buttons {
  display: flex;
}
/*
.upper-icons,
.upper-icons:visited,
.upper-icons:active {
  fill: var(--white-05);
}
*/

.upper-icons:hover {
  fill: var(--white);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 120px 0px;
}

.main-bar {
  width: 100%;
  margin: 0 auto;
  background-color: var(--alice-blue);
  padding-bottom: 60px;
}

.colortext {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white); /*Как добиться,чтобы текст все-таки стал белым?*/
  background-color: var(--bunting);
}

/*.search-field input {
  margin-left: 17px;
  position: relative;
}

/*.search-field input::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -8px;
  top: 12px;
}
*/

.search-field:active {
  opacity: 0.5;
}

.search-field:focus {
  color: var(--black);
  background-color: var(--white);
}

.header-btn-wrapper {
  display: flex;
}

.header-btn-bookmarks,
.header-btn-cart,
.header-btn-order {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  padding: 9px 16px 9px 19px;
}
.header-btn-bookmarks {
  position: relative;
  /*padding-left: 23px;*/
  margin-right: 26px;
}

.header-btn-bookmarks::before {
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -9px;
  top: 13px;
  opacity: 1;
}

.header-btn-cart-full {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--amaranth);
  padding: 9px 21px 9px 35px;
  position: relative;
}

.header-btn-cart-full::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  left: 8px;
  top: 13px;
  opacity: 0.3;
}

.header-btn-cart {
  position: relative;
}

.header-btn-cart::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  left: -8px;
  top: 13px;
  opacity: 0.3;
}
.header-btn-cart-full:hover::before,
.header-btn-bookmarks:hover::before,
.header-btn-cart:hover::before {
  opacity: 1;
}

.header-btn-bookmarks:active {
  opacity: 0.5;
  background-color: var(--black-russian);
}

.header-btn-order:hover {
  background-color: var(--kelly-green);
}

.header-btn-order:active {
  opacity: 0.5;
  background-color: var(--apple);
}

.header-btn-order:focus {
  background-color: var(--apple);
}

.main-header {
  width: 100%;
}

.main-header-description {
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--amaranth);
  width: 197px;
  padding-left: 30px;
}

.mid-header {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /*
  display: grid;
  grid-template-columns: repeat(3, auto);*/
}

.mid-header-wrapper {
  width: 100%;
  background-color: var(--alice-blue);
}

.mid-header address {
  padding-top: 38px;
}

.main-bar address {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--china-blue);
}

.phone {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--amaranth);
  border: 3px solid var(--white);
  padding: 7px 45px 8px 74px;
  position: relative;
}

.phone::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 10px;
  left: 39px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-block {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  padding-top: 41px;
}

.user-block-options-container {
  background-color: var(--white);
  /*grid-column: 1 / 3;*/
}

.options-container {
  /*display: grid;
  grid-template-columns: repeat(3, min-content);*/
  display: flex;
  justify-content: space-between;
}

/*Почему не белеет фон контейнера?*/

.sign-in-btn {
  width: 150px;
  padding: 12px 24px;
}

.login-btn,
.sign-in-btn {
  color: var(--black);
  background-color: var(--white);
  margin-top: 41px;
}

.login-btn {
  padding-left: 45px;
  position: relative;
  width: 121px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 27px;
}

.login-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 19px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-btn:hover,
.sign-in-btn:hover {
  color: var(--amaranth);
}

.login-btn:active,
.sign-in-btn:active {
  color: var(--silver);
}

.login-btn:hover::before {
  fill: var(--chambray);
}

.main-navigation {
  width: 940px;
  margin: 0 auto;
  background-color: var(--gulf-blue);
}

.site-nav {
  width: 940px;
  margin: 0 auto;
  list-style: none;
  background-color: var(--gulf-blue);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.site-nav-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
}

.site-nav-item a:hover {
  background-color: var(--bunting);
}

.site-nav-item a:active {
  color: var(--white);
  opacity: 0.5;
  background-color: var(--midnight-express);
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 940px;
}

.feature-item {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
  width: 300px;
  position: relative;
}

.feature-item:first-child {
  background-color: var(--golden-tainoi-1);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.feature-item:first-child::after {
  position: absolute;
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-paint.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  top: 0;
  right: 20px;
  z-index: 2;
}

.feature-item:nth-child(2) {
  background-color: var(--summer-sky);
  grid-column: 2 / 3;
  grid-row: 1 /2;
}

.feature-item:nth-child(3) {
  background-color: var(--plum);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.feature-item:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.feature-item:nth-child(5) {
  background-color: var(--de-york);
  margin-right: 0;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.feature-item:last-child {
  background-color: var(--golden-tainoi);
  grid-column: 3 / 4;
  grid-row: -1 / -2;
}

.feature-item h3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 22px;
}

.feature-item svg {
  position: absolute;
  top: 31px;
  right: 43px;
}

.feature-item:nth-child(2) svg {
  position: absolute;
  top: 34px;
  right: 31px;
}

.feature-item:nth-child(3) svg {
  position: absolute;
  top: 31px;
  right: 31px;
}

.feature-item:nth-child(5) svg {
  position: absolute;
  top: 26px;
  right: 45px;
}

.feature-item:last-child svg {
  position: absolute;
  top: 32px;
  right: 31px;
}

.feature-item-btn {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--white-03);
  width: 135px;
  position: absolute;
  bottom: 21px;
  left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.feature-item-btn:hover {
  background-color: var(--silver-03);
}

.feature-item-btn:active {
  background-color: var(--dark-grey-03);
}

.slider {
  width: 620px;
  height: 266px; /*это временно!*/
  position: relative;
}

.slider h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}

.slider p {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

.slider h3,
.slider p {
  z-index: 1;
}

.slider-text-wrapper {
  background-color: var(--white-025);
  padding-left: 24px;
  padding-top: 23px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

/*.slider-text-wrapper h3 {
  padding-bottom: 5px;
  box-sizing: border-box;
}
*/

/*
.slide-1 {
  background-image: url(..img/slide1-perforator.jpg);
  background-color: var(--dark-grey);
}

.slide-2 {
    background-image: url(..img/slide2-drill.jpg);
    background-image: var(--dark-grey);
}

*/

.open-catalog-btn:hover {
  background-color: var(--mahogany);
}

.open-catalog-btn:active {
  background-color: var(--cardinal);
}

.slider-btn-forward svg {
  transform: rotate(-180deg);
}

.slider-btn-back,
.slider-btn-forward,
.open-catalog-btn {
  position: absolute;
}

.slider-btn-back {
  left: 24px;
  top: 122px;
}

.slider-btn-forward {
  right: 20px;
  top: 122px;
}

.open-catalog-btn {
  left: 24px;
  bottom: 27px;
}

.all-popular-brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;*/
}

.all-popular-brands a {
  outline: 1px solid var(--whisper);
  outline-offset: -1px;
  width: 220px;
  margin-bottom: 20px;
}

.all-popular-brands a img:active {
  opacity: 0.5;
}

.brand-logo {
  display: block;
  margin: auto;
}
/*отцентровать логотипы!*/

.user-block-name {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.user-icons:hover {
  fill: var(--chambray);
}

.user-icons:active {
  fill: var(--silver);
}

/*.orders,
.profile {
font-family: Cuprum, Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: var(--gulf-blue);
}
*/

.popular-goods h2,
.popular-brands h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--china-blue);
  background-color: var(--linen);
}

.popular-brands h2,
.popular-wrapper h2 {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.popular-wrapper,
.popular-brands {
  position: relative;
}

.open-catalog-btn,
.all-popular-goods-btn,
.all-brands-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);

  background-color: var(--amaranth);
}
.open-catalog-btn {
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  width: 192px;
  box-sizing: border-box;
}

.all-popular-goods-btn {
  position: absolute;
  top: 25px;
  right: 14px;
  padding: 11px 24px 9px 24px;
}

.all-brands-btn {
  position: absolute;
  top: 25px;
  right: 19px;
  padding: 11px 38px 9px 39px;
}

.all-product-cards {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;*/
  display: flex;
  justify-content: space-between;
}

.product-card img {
  order: -1;
}

.product-card {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  outline: 1px solid var(--whisper);
  outline-offset: -1px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.product-card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card:hover img {
  display: none;
}

.product-card:hover .model-item-finalize {
  display: block;
}

.product-card:not(:last-child) {
  margin-right: 20px;
}

.product-card.catalog:nth-of-type(3n) {
  margin-right: 0;
}

.product-card h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  margin-left: 18px;
  margin-right: 17px;
  text-align: center;
}

.product-card-image {
  width: 127px;
  height: 112px;
  background-color: var(--linen);
}

.product-card-image:first-child,
.product-card-image:nth-child(2),
.product-card-image:nth-child(3),
.product-card-image:nth-child(5),
.product-card-image:nth-child(8) {
  width: 144px;
  height: 128px;
}

.product-card.main img:first-child {
  width: 184px;
  height: 164px;
}

.product-card.main img:nth-child(2),
.product-card.main img:last-child {
  width: 127px;
  height: 112px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  /*background-color: var(--amaranth);*/
  position: relative;
  z-index: 2;
  padding-bottom: 22px;
}

.price::after {
  content: "";
  position: absolute;
  width: 141px;
  height: 48px;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -32px;
  top: -10px;
  z-index: -1;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-grey);
  text-decoration: line-through;
  padding-bottom: 16px;
}

.button-goods-buy {
  color: var(--white);
  background-color: var(--apple);
  box-shadow: inset 0px -3px 0px var(--bilbao);
  width: 135px;
  position: relative;
}

.button-goods-buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/icon-cart.svg);
  top: 10px;
  left: 30px;
}

.button-goods-buy:hover {
  background-color: var(--kelly-green);
}

.button-goods-buy:active {
  background-color: var(--la-palma);
}

.button-goods-bookmarks {
  color: var(--gulf-blue);
  border: 3px solid var(--apple);
  /*width: 135px;*/
}

.button-goods-bookmarks:hover {
  border: 3px solid var(--gulf-blue);
}

.button-goods-bookmarks:active {
  color: var(--link-water);
  border: 3px solid var(--link-water);
}

.additional-services-wrapper,
.perforators-about-container {
  background-color: var(--alice-blue);
  min-width: 100%;
}

.perforators-about-container {
  margin-bottom: 0;
}

.additional-services-wrapper button {
  width: 240px;
}

.services-info {
  width: 940px;
  margin: 0 auto;
}

.additional-services h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  padding-top: 64px;
}

.additional-services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  /*width: 394px;*/
}

.additional-services-btn-wrapper {
  /*display: grid;
  grid-template-rows: repeat(3, 1fr);*/
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
}

.additional-services-btn-wrapper::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  background-image: url(../img/sharp-vertical-shadow.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: -47px;
  left: 230px;
}

.service-titles {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.service-slide {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--china-blue);
  position: relative;
}
.service-slide p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.service-slider-control {
  width: 240px;
  height: 61px;
  box-sizing: border-box;
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--china-blue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  color: var(--white);
  padding-left: 22px;
  padding-top: 13px;
  padding-bottom: 17px;
}

.service-btn-delivery:checked ~ .service-slider-control.control-1,
.service-btn-guarantee:checked
  ~ .service-slider-control.control-2
  .service-btn-credit:checked
  ~ .service-slider-control.control-3 {
  color: var(--china-blue);
  background-color: var(--white);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  border-top: 2px solid var(--china-blue);
}

.service-btn-delivery:checked ~ .additional-services-slider {
  background-image: url(../img/service-delivery.png);
}

.service-btn-guarantee:checked ~ .additional-services-slider {
  background-image: url(../img/service-guarantee.png);
}

.service-btn-credit:checked ~ .additional-services-slider {
  background-image: url(../img/service-credit.png);
}

.service-btn-slider-wrapper {
  display: grid;
  grid-template-columns: 3fr auto;
}

.service-slide.delivery {
  width: 305px;
}

.service-slide.delivery::after {
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  background-image: url(../img/service-delivery.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 20px;
  left: 190px;
}

.service-slide.guarantee {
  width: 331px;
}

.service-slide.guarantee::after {
  position: absolute;
  content: "";
  width: 389px;
  height: 283px;
  background-image: url(../img/service-guarantee.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 20px;
  left: 190px;
}

.service-slide.credit {
  width: 331px;
}

.service-slide.credit::after {
  position: absolute;
  content: "";
  width: 465px;
  height: 285px;
  background-image: url(../img/service-credit.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 20px;
  left: 190px;
}

.want-credit-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--radical-red);
  width: 195px;
  height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 9px;
}

.company-info h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.company-info p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.partners-list,
.footer-nav-list,
.footer-socials-list {
  list-style: none;
}

.partners-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  position: relative;
}

.partners-item a::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -35px;
  margin-top: 10px;
}

.service-btn-delivery,
.service-btn-guarantee,
.service-btn-credit {
  color: var(--white);
  background-color: var(--gulf-blue);
}

.service-btn-delivery:hover,
.service-btn-guarantee:hover,
.service-btn-credit:hover {
  color: var(--white);
  background-color: var(--bunting);
}

.service-btn-delivery:active,
.service-btn-guarantee:active,
.service-btn-credit:active {
  color: var(--gulf-blue);
  background-color: var(--white);
}

.company-more-about-btn {
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  margin-top: 20px;
}

.company-info-wrapper {
  display: flex;
  justify-content: space-around;
  /*display: grid;
  grid-template-columns: 8fr 4fr;
  column-gap: 20px;*/
  margin-bottom: 70px;
}

.company-about {
  margin-right: 179px;
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts p {
  width: 180px;
}

.contacts a {
  margin-top: 32px;
}

.company-more-about-btn,
.lost-help-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--amaranth);
}

.lost-help-btn {
  width: 300px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  margin-top: 25px;
}

.contact-form-item {
  color: var(--dark-grey);
  background-color: var(--white);
}
.contact-form-item label {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.send-btn-container {
  background-color: var(--white-smoke);
}
.send-btn {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--amaranth);
}

.footer-contacts address {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--alice-blue);
}

.footer-contacts a {
  color: var(--alice-blue);
}

.footer-nav-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--alice-blue);
}

.footer-nav-item:not(:last-child),
.footer-catalog-item:not(:last-child) {
  margin-right: 58px;
}

.footer-catalog-list {
  list-style: none;
}

/*.product-flag {
  position: relative;
}

.product-flag::after {
  position: absolute;
  width: 60px;
  height: 59px;
  background-image: url(../img/red-ribon.svg);
  background-repeat: no-repeat;
  left: 240px;
  top: 0;

}
*/

.footer-catalog-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--salomie);
}

.footer-nav-item a:hover,
.footer-catalog-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-catalog-item a:active {
  opacity: 0.5;
}

.footer-1-wrapper {
  background-color: var(--china-blue);
  margin-top: 0;
}

.footer-2-wrapper {
  background-color: var(--bunting);
}

.footer-1,
.footer-2 {
  margin-left: 130px;
  margin-right: 130px;
}

.footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  /*
  display: grid;
  grid-template-columns: auto auto auto auto;*/
}

.footer-nav-1,
.footer-nav-2 {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  /*display: grid;
  grid-template-columns: auto auto;*/
}

.footer-nav-2 {
  margin-top: 22px;
}

.footer-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
  /*display: grid;
  grid-template-columns: repeat(5, auto);*/
}

.footer-catalog-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: repeat(4, auto);*/
}

.footer-technomart-copyright,
.footer-feedback,
.footer-copyright {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer-copyright {
  margin-left: 51px;
}

.footer-feedback a,
.footer-copyright a {
  color: var(--salomie);
}

.footer-feedback a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-copyright a:active {
  color: var(--amaranth);
}

.social-btn {
  width: 44px;
  height: 44px;
  margin-right: 1px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-bg:hover,
.social-bg:active {
  fill: var(--amaranth);
}

.footer-socials-list {
  margin-left: 170px;
  margin-right: 118px;
  display: flex;
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  */
}

/*Каталог*/

/*.id-user-options-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    }
    */

.personal-info,
.personal-info:visited {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--gulf-blue);
}

.personal-info:hover {
  color: var(--amaranth);
}
.user-block-name:active,
.personal-info:active {
  color: var(--silver);
}

.circle-bg:hover {
  fill: var(--amaranth);
}

.circle-bg:active {
  fill: var(--silver);
}

.category-title {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--gulf-blue);
  background-color: var(--alice-blue);
  /*width: 940px;*/
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--old-lace);
  display: table-cell;
  vertical-align: middle;
  width: 220px;
  padding-left: 18px;
  box-sizing: border-box;
}

.filter-title,
.sorting-bar {
  height: 38px;
}

.filter-sort-catalog {
  display: grid;
  grid-template-columns: 220px 700px;
  gap: 20px;

  /*display: flex;
  flex-direction: row;
  */
}

.pricing {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--old-lace);
  /*width: 95px;*/
}

.show-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--whisper);
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.breadcrumbs,
.sort-by,
.paginator {
  list-style: none;
}

.breadcrumbs {
  /*display: grid;
  grid-template-columns: repeat(4, auto);*/
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  position: relative;
  display: block;
  /*margin-right: 40px;*/
}

.breadcrumbs-item:first-child {
  margin-right: 41px;
}

.breadcrumbs-item:nth-child(2) {
  margin-right: 40px;
}

.breadcrumbs-item:nth-child(3) {
  margin-right: 42px;
}

.breadcrumbs-item:nth-child(2):before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -18px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:nth-child(3):before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -15px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:last-child:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -17px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item a,
.sort-by-option a,
.paginator-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.sorting-bar h2,
.sort-by-option a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.sorting-bar h2 {
  padding-left: 20px;
}

.sort-by {
  /*
  display: grid;
  grid-template-columns: repeat(5, auto);
  */
  display: flex;
  justify-content: space-between;
}
.sort-by-option:first-child {
  margin-right: 70px;
}

.sort-by-option:nth-child(2) {
  margin-right: 65px;
}

.sort-by-option:nth-child(3) {
  margin-right: 46px;
}

.sort-by-option a {
  color: var(--silver);
  border-bottom: 1px dotted var(--amaranth);
}

.sort-by-option a:hover {
  color: var(--black);
  border-bottom: 1px solid var(--amaranth);
}

.sort-by-option a:active {
  color: var(--amaranth);
  border-bottom: none;
}

.triangle-bg:hover {
  fill: var(--black);
}

.triangle-bg:active {
  fill: var(--amaranth);
}

.sorting-bar {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  background-color: var(--old-lace);
  /*display: grid;
  grid-template-columns: auto auto;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.filter-form fieldset {
  border: none;
}

.filter-by-header {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--black);

  /*width: 220px;*/
}

.filter-by-header:first-child {
  border-top: none;
}

.filter-by-brand label,
.filter-by-charging label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-by-brand label:not(:last-child),
.filter-by-charging label:not(:last-child) {
  margin-bottom: 16px;
}

.filter-by-charging label:last-child {
  margin-bottom: 34px;
}

.filter-input-checkbox + label,
.filter-input-radio + label {
  padding-left: 35px;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 4px solid var(--silver);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--silver);
  border-radius: 50%;
}

.filter-by-price {
  padding: 0;
  width: 220px;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  background-color: var(--old-lace);
  border-radius: 3px;
  padding: 39px 20px;
  box-sizing: border-box;
  display: block;
}

.range-controls .scale {
  height: 2px;
  background: var(--pattens-blue);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  width: 4px;
  height: 4px;
  border: 8px solid var(--white);
  border-radius: 50%;
  background-color: var(--dark-grey);
  box-shadow: 0 2px 1px 0 var(--dark-grey);
  cursor: pointer;
}

/*.range-controls .toggle-min {
  left: 18px;
}
*/

.range-controls .toggle-max {
  /*left: 120px;*/
  top: -8px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  width: 95px;
  height: 38px;
  border-radius: 2px;
  border: none;
}

.filter-by-brand {
  /*display: grid;
  grid-template-rows: repeat(6, auto);*/
  display: flex;
  flex-direction: column;
  padding: 0;
  border-top: 1px solid --whisper;
}

.filter-by-charging {
  /*display: grid;
  grid-template-rows: repeat(3, auto);*/
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  border-top: 1px solid var(--silver);
}

.charging-radio {
  color: var(--silver);
}

.all-product-cards-catalog {
  /*display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  */
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.added-to-card-container {
  background-color: var(--white);
  /*width: 620px;*/
}

.added-to-card-container p {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
}

.cart-btns-container {
  background-color: var(--white-smoke);
  width: 620px;
}

.btn-continue-shopping,
.btn-order {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  /*width: 192px;*/
}

.header-btn-order {
  background-color: var(--apple);
}

.btn-continue-shopping {
  color: var(--white);
  background-color: var(--amaranth);
}

.paginator-link:hover {
  border: 1px solid var(--silver);
}

.paginator-link:active {
  border: 1px solid var(--amaranth);
}

.paginator-link:first-child {
  background-color: var(--amaranth);
  color: var(--white);
}

.paginator-link:last-child {
  width: 140px;
}

.paginator-link {
  border: 1px solid var(--whisper);
  border-radius: 2px;
  width: 38px;
  height: 38px;
  padding: 10px 15px;

  background-color: var(--white);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  margin-right: 10px;
}

.paginator {
  /*display: grid;
  grid-template-columns: 38px 38px 38px 140px;*/
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.perforators-about {
  width: 940px;
  margin: 0 auto;
}

.perforators-about-title {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  padding-top: 64px;
}

.perforators-about-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 68px;
}
